::ng-deep .p-megaMenu {
    background-color: #f0f0f0 !important; /* Example color */
}
::ng-deep .p-component, .p-component * {
    display: flex !important;
    background-color: #47ff8e52 ;
    align-items: center;
    justify-content: center;

}




