<div class="container-main">
    <div class="row">
        <div class="widget col-md-3">
            <app-category-tree (dataEvent)="receiveData($event)"></app-category-tree>
        </div>
        <div class="widget col-md-8" [ngClass]="{ 'disabled-div': isDivDisabled }">
            <!-- ticket-form.component.html -->
            {{ticketForm.value|json}}
            <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
                <div formArrayName="mandFileds" class="form-array">
                    <div *ngFor="let mandFiled of mandFileds.controls; let i=index" [formGroupName]="i">
                        <div class="form-group">
                            <label [for]="filteredCategoryMand[i].mendField"
                                [ngClass]="{'alert-danger':returnFormErrors(filteredCategoryMand[i].mendField)}">
                                {{filteredCategoryMand[i].mendField}}
                                : <span style="color: red;"
                                    *ngIf="filedIsRequired(filteredCategoryMand[i].mendField)">*</span></label>
                            <!------------------------------------------------------------------------ InputText ----------------------------------------------------------------------->
                            <input type="text" [formControlName]="filteredCategoryMand[i].mendField"
                                *ngIf="returnFieldType(filteredCategoryMand[i].mendField)=='InputText'"
                                [id]="filteredCategoryMand[i].mendField" class="form-control"
                                (blur)="logValidationErrors()">
                            <!------------------------------------------------------------------------ Textarea  ----------------------------------------------------------------------->
                            <textarea type="text" [formControlName]="filteredCategoryMand[i].mendField"
                                *ngIf="returnFieldType(filteredCategoryMand[i].mendField)=='Textarea'"
                                [id]="filteredCategoryMand[i].mendField" class="form-control" rows="7" cols="80"
                                (blur)="logValidationErrors()"></textarea>
                            <!------------------------------------------------------------------------ RadioButton  ----------------------------------------------------------------------->
                            <div *ngIf="returnFieldType(filteredCategoryMand[i].mendField)=='RadioButton'"
                                class="radioButton form-control" style="width: 90%;">
                                <div *ngFor="let category of implementControlSelection(filteredCategoryMand[i].mendField)" class="radioButton">
                                    <p-radioButton [inputId]="category.key" [value]="category.key"
                                        [formControlName]="filteredCategoryMand[i].mendField"></p-radioButton>
                                    <label [for]="category.key">{{ category.name }}</label>
                                </div>
                            </div>
                            <!------------------------------------------------------------------------ Dropdown    ----------------------------------------------------------------------->
                            <div *ngIf="returnFieldType(filteredCategoryMand[i].mendField)=='Dropdown'" style="width: 90%;">
                                <p-dropdown [options]="implementControlSelection(filteredCategoryMand[i].mendField)" optionLabel="name" emptyMessage [filter]="true"
                                    filterBy="name" placeholder="Select" optionValue="key"
                                    [style]="{'minWidth':'100%', 'width': '100%'}"
                                    [formControlName]="filteredCategoryMand[i].mendField" [showClear]="true">
                                    <ng-template let-category pTemplate="name">
                                        <div>
                                            {{ category.name }}
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>


                            <span class="alert-danger" *ngIf="returnFormErrors(filteredCategoryMand[i].mendField)">
                                {{returnFormErrors(filteredCategoryMand[i].mendField)}}
                            </span>
                        </div>
                    </div>
                </div>
                <div hidden="true">
                    <label for="tkCategoryCd">Category Code: </label>
                    <input type="text" formControlName="tkCategoryCd" id="tkCategoryCd" class="form-control">
                </div>
                <div hidden="true">
                    <label for="tkCompSrc" [ngClass]="{'alert-danger':returnFormErrors('tkCompSrc')}">Component Source:
                        <span style="color: red;">*</span></label>
                    <input type="text" formControlName="tkCompSrc" id="tkCompSrc" class="form-control"
                        (blur)="logValidationErrors()">
                    <span class="alert-danger" *ngIf="returnFormErrors('tkCompSrc')">
                        {{returnFormErrors('tkCompSrc')}}
                    </span>
                </div>
                <div>
                    <label for="tkDetails" [ngClass]="{'alert-danger':returnFormErrors('tkDetails')}">Details: <span
                            style="color: red;">*</span></label>
                    <textarea formControlName="tkDetails" id="tkDetails" class="form-control" rows="7" cols="80"
                        (blur)="logValidationErrors()"></textarea>
                    <span class="alert-danger" *ngIf="returnFormErrors('tkDetails')">
                        {{returnFormErrors('tkDetails')}}
                    </span>
                </div>
                <br>
                <button type="submit" class="btn btn-success" [disabled]="ticketForm.invalid">Submit</button>
                <!-- <hr>{{formErrors|json}}
                <br>
                <hr>{{validationMessages|json}} -->
            </form>
        </div>
    </div>

</div>